.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 84px 44px 24px 1px rgba(0, 0, 0, 0.137);
    
    border: 0.5px solid silver;
    
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
}
.buttonContainer button{
    width: 125px;
    background: linear-gradient(90deg, rgba(242,138,199,1) 0%, rgba(242,138,178,1) 50%, rgba(255,102,160,1) 100%);
}
.buttonContainer button:hover{
    background: linear-gradient(90deg, rgb(223, 128, 183) 0%, rgb(219, 125, 161) 50%, rgb(219, 88, 138) 100%);

}